*{
    padding: 0;
    margin: 0;
}
.main_body{
    
    background-color: aliceblue;
    text-align: justify;
    align-items: center;
    margin: 5em 0 0 1em;
    padding-inline: 1em;
    border-radius: 10px;
}

.main_body::view-transition{
    transform: translate(100px 40px);
}
nav{
    display: flex;
    border: 300px;
    align-items: flex-start;
    justify-content: space-around;
    border-color: black;
    background-color:rgba(118, 54, 11, 0.833);
    padding: 10px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgba(135, 64, 16, 0.833);
    height:max-content ;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    font-style:normal;
    color: black;
}
.pestania{
    justify-content:baseline;
    text-align: center;
    color:rgba(255, 255, 255, 0.692);
    width:100%;
    margin-inline: 10px;
    height:35px;

}
p,h1,h2{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
footer{
    background-color:#ffbf00a3;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}
.fondo{
    text-align: center;
}
.photo{
    width: 250px;
    height: auto;
}

h1{
    margin-bottom: 1em;
}