*{
    padding: 0;
    margin: 0;
}
.main_body{
    
    background-color: aliceblue;
    text-align: justify;
    align-items: center;
    margin: 5em 0 0 1em;
    padding-inline: 1em;
    border-radius: 10px;
}

.main_body::view-transition{
    transform: translate(100px 40px);
}
nav{
    display: flex;
    border: 300px;
    align-items: flex-start;
    justify-content: space-around;
    border-color: black;
    background-color:rgba(118, 54, 11, 0.833);
    padding: 10px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgba(135, 64, 16, 0.833);
    height:max-content ;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    font-style:normal;
    color: black;
}
.pestania{
    justify-content:baseline;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: #e1ab09a3;
    border-radius: 10px;
    padding-top: 15px;
    width:100%;
    margin-inline: 1em;
    height:35px;
   
}
.pestania:hover{
    background-color: rgba(135, 64, 16, 0.833);
    box-shadow: 2px 2px 2px 0 black;
    color: yellow;
}
p,h1,h2{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
footer{
    background-color:#ffbf00a3;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}
.fondo{
    text-align: center;
}
.photo{
    width: 250px;
    height: auto;
}

h1{
    margin-bottom: 1em;
}

.description{
    color: white;
    margin: 20px 0px;
}

#form .d-flex{
    justify-content: space-around;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.form-control label{
    color: #FFF;
}

.form-control input {
    height: 50px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    border: 2px solid white;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    padding: 0 20px;
}
.form-select {
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: rgba(255,255,255,0.1);
    border: 2px solid white; 
    border-radius: 25px;
    margin: 20px 0px;

}

.form-select option{
    color:#2a2a2a;
}

.subtitle{
    color: white;
    font-size: 1.5vw;
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 30px 0px;
    width: 100%;
    margin-bottom: 1rem;
    color: #FFF;
    vertical-align: top;
    border-color: #dee2e6;
}

.table th,
.table td {
    padding: 8px; 
    text-align: center;
}
.table th{
    border-bottom: 1px solid #ffffff;
}
.table td{
    border-bottom: 1px solid #4f4f4f;
}

#list-div-movies{
    width: 100%;
}

.item-movie{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

h3{
    align-self: center;
}

.btn-cac{
    background-color: #47340a;
    padding: 10px;
    border-radius: 10px;
    color:#FFF;
    cursor: pointer;
}

/* Pseudoclases */
.btn-cac:hover{
    color: #ffc098;
    border: 2px solid #ffc098;
}
