
*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    border: 300px;
    align-items: flex-start;
    justify-content: space-around;
    border-color: black;
    background-color:rgba(118, 54, 11, 0.833);
    padding: 10px;
}
body{
    display: flex;
    flex-direction: column;
    
    background-color: rgba(135, 64, 16, 0.833);
    height:max-content ;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    font-style:normal;
    color: black;
}
.pestania{
    justify-content:baseline;
    text-align: center;
    color:rgba(255, 255, 255, 0.692);
    width:100%;
    margin-inline: 10px;
    height:35px;
}
.muestra{
    margin-top: 2em;
    display: flex;
    height: 250px;
    overflow: scroll;
}
.muestra::-webkit-scrollbar{
    width: 7px;
    background: black;
}
.muestra::-webkit-scrollbar-thumb{
    background: rgb(255, 0, 0);
    border-radius: 10px;
}
footer{
    align-items: center;
    text-align: center;
    align-items: flex-end;
    background-color:#ffbf00a3;
    margin-top: 5rem;
}