<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FAQ</title>
        <link rel="icon" href="../Imagenes/logo-9976.ico">
        <link rel="stylesheet" href="../Planillas-de-estilos/Faq.css">  
    </head>
    <body>
        <nav>
            <img class="logo-container" src="../Imagenes/logo-9976.png" alt="Logo" width="80" height="30">
            <a class="pestania" href="../Index.html">Inicio</a>
            <a class="pestania" href="main.html">Recetas</a>
            <a class="pestania" href="Contacto.html">Contactanos</a>
            <a class="pestania" href="Faq.html">Faq</a>
            <img class="logo-container" src="../Imagenes/logo-9976.png" alt="Logo" width="80" height="30">
        </nav>
        <div class="fondo">
            <img class="photo" src="../Imagenes/logo-9976.png" height="50">
        </div>
        <main> 
            <section id="form" class="container ">
                <h2 class="search-title">Gestión de recetas</h2>
                <p class="description" >En esta sección se podra llevar a cabo la gestión de las Nuevas Recetas</p>
                <form action="#"  id="form-movie">
                    <div class="d-flex">
                        <div class="form-control d-flex-column">
                            <label for="title">Nombre</label>
                            <input type="text" class="input-search" name="title" id="title">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="director">Descripcion</label>
                            <input type="text" class="input-search" name="director" id="director">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="rating">Puntuacion</label>
                            <input type="number" class="input-search" name="rating" id="rating">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="banner">Banner</label>
                            <input type="url" class="input-search" name="banner" id="banner-form">
                        </div>                
                        <input type="hidden"  name="id" id="id-movie">
                        <button class="btn-cac" type="button" id="btn-save-movie">Agregar</button>
               
                        <input type="hidden"  name="id" id="id-movie">
                        <button class="btn-cac" type="button" id="btn-change-movie">Consultar</button>
                    </div>
                </form> 
            </section>
            <section id="list" class="container">
                <h3 class="subtitle">Listado de peliculas</h3>
                <table id="list-table-movies" class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Puntuacion</th>
                            <th>Banner</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-table-movies">
                        
                    </tbody>
                </table>
            </section>  
        </main>
        <footer>
            <h2><b>otras recetas</b></h2>
           
                <li><a href="https://elgourmet.com/recetas/">El gourmet</a></li>
                <li><a href="https://www.lanacion.com.ar/recetas/">La Nacion</a></li>
                <li><a href="https://www.paulinacocina.net/recetas">PaulinaCocina</a></li>
                <p>&copy; 2024 Sabor Argentino: Recetas Caseras y Auténticas</p>
        </footer>
    </body>
</html>
