<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FAQ</title>
        <link rel="icon" href="../Imagenes/logo-9976.ico">
        <link rel="stylesheet" href="../Planillas-de-estilos/Faq.css">  
    </head>
    <body>
        <nav>
            <img class="logo-container" src="../Imagenes/logo-9976.png" alt="Logo" width="80" height="30">
            <a class="pestania" href="Contacto.html">Contactanos</a>
            <a class="pestania" href="main.html">Recetas</a>
            <a class="pestania" href="../Index.html">Inicio</a>
            <a class="pestania" href="Faq.html">Faq</a>
            <img class="logo-container" src="../Imagenes/logo-9976.png" alt="Logo" width="80" height="30">
        </nav>
        <div class="fondo">
            <img class="photo" src="../Imagenes/logo-9976.png" height="50">
        </div>
        <div class="main_body">
            <h1>Preguntas frecuentes</h1>
            <ul>
                <h2>Como puedo entrar a las recetas?</h2>
                <li>Seleccione la opcion de "Recetas" en la barra superior</li>
                <li>Una vez ahi disfute de las recetas que proporciona la pagina</li>
                <h2>Como puedo dejar un puntaje a las recetas?</h2>
                <li>Actualmente no es posible,pero en un futuro cercano esperamos habilitarlas...</li>
                <h2>es posible agregar nuevas recetas?</h2>
                <li>Las recetas son agregadas manualmente por cada administrador de la pagina</li>
                <li>es necesario asegurarse que no contengan nada inapropiado y que sean las mejores recetas</li>
                <h2>Que hago si encuentro un error en la pagina?</h2>
                <li>En la barra superior encontrara la opcion de "contactanos" donde nos podra enviar cualquier resena de la pagina</li>
                <li>en caso de encontrar algun error envie un screenshot del mismo y nos pondremos en contacto</li>
            </ul>
        </div>
        <footer>
            <h2><b>otras recetas</b></h2>
           
                <li><a href="https://elgourmet.com/recetas/">El gourmet</a></li>
                <li><a href="https://www.lanacion.com.ar/recetas/">La Nacion</a></li>
                <li><a href="https://www.paulinacocina.net/recetas">PaulinaCocina</a></li>
                <p>&copy; 2024 Sabor Argentino: Recetas Caseras y Auténticas</p>
        </footer>
    </body>
</html>