<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FAQ</title>
        <link rel="icon" href="../Imagenes/logo-9976.ico">
        <link rel="stylesheet" href="../Planillas-de-estilos/Faq.css">  
    </head>
    <body>
        <nav>
            <img class="logo-container" src="../Imagenes/logo-9976.png" alt="Logo" width="80" height="30">
            <a class="pestania" href="../Index.html">Inicio</a>
            <a class="pestania" href="main.html">Recetas</a>
            <a class="pestania" href="Contacto.html">Contactanos</a>
            <a class="pestania" href="Faq.html">Crud</a>
            <img class="logo-container" src="../Imagenes/logo-9976.png" alt="Logo" width="80" height="30">
        </nav>
        <div class="fondo">
            <img class="photo" src="../Imagenes/logo-9976.png" height="50">
        </div>
        <main> 
            <section id="form" class="container ">
                <h2 class="search-title">Gestión de recetas</h2>
                <p class="description" >En esta sección se podra llevar a cabo la gestión de las Nuevas Recetas</p>
                <form action="#"  id="form-receta">
                    <div class="d-flex">
                        <div class="form-control d-flex-column">
                            <label for="name">Nombre Receta</label>
                            <input type="text" class="input-search" name="name" id="name">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="ingredientes">Ingredientes</label>
                            <input type="text" class="input-search" name="ingredientes" id="ingredientes">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="input-search" name="descripcion" id="descripcion">
                        </div>
                        <div class="form-control d-flex-column">
                            <label for="cheff">Cheff</label>
                            <input type="url" class="input-search" name="cheff" id="cheff">
                        </div>    
                        <div class="form-control d-flex-column">
                            <label for="precio">Precio</label>
                            <input type="url" class="input-search" name="precio" id="precio">
                        </div>              
                    </div>
                    <div class="btn-container" id="btn-container">
                        <input type="hidden"  name="id" id="id_receta">
                        <button class="btn-cac" type="button" id="btn-save-receta">Agregar</button>
                        <!--
                        <input type="hidden"  name="id" id="id_receta">
                        <button class="btn-cac" type="button" id="btn-update-receta">Consultar</button>
                        -->
                    </div>
                    </form> 
            </section>
            <section id="list" class="container">
                <h3 class="subtitle">Listado de recetas</h3>
                <table id="list-table-recetas" class="table">
                    <thead>
                        <tr>
                            <th>Nombre Receta</th>
                            <th>Ingredientes</th>
                            <th>Descripción</th>
                            <th>Cheff</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-table-recetas">

                    
                        
                    </tbody>
                </table>
            </section>  
        </main>
        <footer>
            <h2><b>otras recetas</b></h2>
           
                <li><a href="https://elgourmet.com/recetas/">El gourmet</a></li>
                <li><a href="https://www.lanacion.com.ar/recetas/">La Nacion</a></li>
                <li><a href="https://www.paulinacocina.net/recetas">PaulinaCocina</a></li>
                <p>&copy; 2024 Sabor Argentino: Recetas Caseras y Auténticas</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../Logica/crud-recetas-fetch.js"></script>
    </body>
</html>
