<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locro</title>
    <link rel="stylesheet" href="../Planillas-de-estilos/Recetas.css" 
        <div class="logo-container">
            <a href="../index.html">
                <img src="../Imagenes/flecha-pequena-izquierda.png" style="border-radius: 50px; width: 50px;padding: 5px; ">
        </a>
        </div>
        <img class="logo" src="../Imagenes/logo-9976.png">
    </head>
<body>
    <div class="main-container">
    <h1>Cómo hacer Locro de choclo</h1>
    <img class="imagen-comida" src="../Imagenes/locro.jpg">
    <div class="receta">
        <li> Para empezar a preparar el locro de choclo, enjuaga el maíz hasta que el agua quede límpida en lugar de turbia como ves en la imagen.</li>
        <li> Una vez que el agua esté limpia, déjalo en remojo por 12 horas dentro de la heladera.
            <b>Truco: no lo dejes remojando a temperatura ambiente porque pueden reporoducirse bacterias que podrían hacer que te descompongas.
            </b></li>
        <li> Una vez pasado ese tiempo, hierve el maíz en abundante agua por aproximadamente 20 minutos o hasta que esté tierno. Luego lo cocinarás con la preparación, así que vigila que no se pase de cocción en este punto o se desarmará demasiado en el guiso.</li>
        <li> Mientras se cocina el maíz, pela, pica y dora la cebolla en una cacerola o cazuela grande con 1 cucharadita de aceite. Preferiblemente, cocina la cebolla a fuego fuerte.</li>
        <li> Una vez que esté transparente, agrega el morrón picado y el diente de ajo picado. Baja el fuego a medio y saltéalo hasta que se dore.</li>
        <li> Una vez que los vegetales estén dorados, sube el fuego y distribúyelos en los bordes de la cacerola. Agrega en el centro la zanahoria picada y la carne cortada en cubos. Dora los cubos de la carne por todas sus caras y también llévalos a los bordes de la cacerola. Repite el mismo procedimiento con la panceta para seguir con la preparación del locro de choclo.</li>
        <li> Mientras se cocinan los ingredientes anteriores, hierve en una cacerola aparte el chorizo previamente pinchado por 5 minutos. De esta manera, el locro de choclo no resultará con tanta grasa. Córtalo en rodajas y agrégalo al salteado.
            Truco: si lo prefieres, puedes hacer tu locro de choclo sin carne. En tal caso, omite completamente esos ingredientes y sigue con el procedimiento.
            </li>
        <li> Agrega también el maíz que has cocido previamente, los condimentos y el zapallo pelado y cortado en cubos.</li>
        <li> Baja el fuego a mínimo y cubre tu locro de choclo con agua hirviendo, aproximadamente 1 litro. Tápalo y déjalo cocinar por 1 hora revolviendo cada tanto para asegurarte de que no se pegue al fondo ni se quede sin líquido. Si esto sucede, agrégale más, siempre caliente para no cortar la cocción.</li>
        <li> Una vez listo, puedes servirlo y disfrutarlo en el momento o enfriarlo en menos de 2 horas y guardarlo en la heladera para el día siguiente. También podrías fraccionarlo y congelarlo, ya que el locro de choclo durará 3 meses congelado.</li>
        </div>
</div>
</body>
</html>